flask
python-dotenv
pillow
huggingface-hub
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-chroma
chromadb
flashrank
pandas
pypdf
tavily-python
rank_bm25
Flask-Session
pymupdf4llm
llama-parse
uuid6
langchain-experimental